<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Quiz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment (ionChange)="segmentChange($event)">
    <ion-segment-button class='segmentBTN' value='' checked>All</ion-segment-button>
    <ion-segment-button class='segmentBTN' value="easy" color='success'>Easy</ion-segment-button>
    <ion-segment-button class='segmentBTN' value="hard" color='danger'>Hard</ion-segment-button>
    <ion-segment-button class='segmentBTN' value="medium" color='warning'>Medium</ion-segment-button>
  </ion-segment>

  <app-quiz-interface [lvl]='level'></app-quiz-interface>


</ion-content>