.flag {
    border: sold black 1px;
}

.text {
    width: 90%;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.icon {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.lg {
    width: 12px;
    flex-grow: 1;
    text-align: center;
}

.hidden {
    opacity: 0;
    transform: translateY(100px);
}

.visible {
    transform: translateY(0);
    opacity: 1;
    transition: .4s;
}